*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.txt
*.png
*.pth
/Classes/Research/Pre
/Classes/Research/ships
wandb/*
/Classes/CS6910_DL/Assignment1/wandb/*
/Classes/CS6910_DL/Assignment2/wandb/*
/Classes/CS6910_DL/Assignment3/wandb/*
*.yaml
*.json
*.log
/Classes/CS6910_DL/cs6910_assignment2/logs
/Classes/CN/flask_server/CS3205
/Classes/CS4900_UGRC/strategy_exploration/__pycache__
/Classes/CS6910_DL/cs6910_assignment1/wandb
/Classes/CS6910_DL/cs6910_assignment2/PartA/inaturalist_12K
/Classes/CS6910_DL/cs6910_assignment2/PartA/logs
/Classes/CS6910_DL/cs6910_assignment2/PartA/wandb
/Classes/CS6910_DL/cs6910_assignment2/PartB/logs
/Classes/CS6910_DL/cs6910_assignment2/PartB/wandb
/Classes/CS6910_DL/cs6910_assignment2/wandb
/Classes/CS6910_DL/cs6910_assignment3/Attention/wandb
/Classes/CS6910_DL/cs6910_assignment3/Vanilla/wandb
/Classes/CS6910_DL/cs6910_assignment3/wandb
*.h5
